# Python Basics

## About Python

why python ?
1. design philosophy
2. batteries included
3. general purpose
4. libraries/community

why python for data science ?

1. easy to learn
2. proximity with maths
3. community

In [35]:
# 1. design philosophy
# if True:
#   pass
# 2. batteries included
# sum([1,2,3])
# 3. general purpose
# da,ds,web
# 4. libraries/community
# numpy, pandas, matplotlib

## Output

In [36]:
# Python is a case sensitive language
print('Hello World')

Hello World

In [37]:
print('salman khan')

salman khan

In [38]:
# print(salman khan)
# SyntaxError: invalid syntax. Perhaps you forgot a comma?

In [39]:
print(7)

7

In [40]:
print(7.7)

7.7

In [41]:
print(True)

True

In [42]:
print('Hello',1,4.5,True)

Hello 1 4.5 True

In [43]:
print('Hello',1,4.5,True,sep='/')

Hello/1/4.5/True

In [44]:
print('hello')
print('world')

hello
world

In [45]:
print('hello',end='-')
print('world')

hello-world

## Data Types

1. integer
2. float
3. complex
4. string
5. boolean
6. list
7. tuple
8. set
9. dictionary

In [46]:
# Integer
print(8)
# 1*10^308
print(1e309)

8
inf

In [47]:
# Decimal/Float
print(8.55)
print(1.7e309)

8.55
inf

In [48]:
# Boolean
print(True)
print(False)

True
False

In [49]:
# Text/String
print('Hello World')

Hello World

In [50]:
# complex
print(5+6j)

(5+6j)

In [51]:
# List-> C-> Array
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [52]:
# Tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [53]:
# Sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [54]:
# Dictionary
print({'name':'Nitish','gender':'Male','weight':70})

{'name': 'Nitish', 'gender': 'Male', 'weight': 70}

In [55]:
# type
type([1,2,3])

list

## Variables

In [56]:
# Static Vs Dynamic Typing
# Static Vs Dynamic Binding
# stylish declaration techniques

In [57]:
# C/C++
name = 'nitish'
print(name)

a = 5
b = 6

print(a + b)

nitish
11

In [58]:
# Dynamic Typing
a = 5
# Static Typing
# int a = 5

In [59]:
# Dynamic Binding
a = 5
print(a)
a = 'nitish'
print(a)

# Static Binding
# int a = 5

5
nitish

In [60]:
a = 1
b = 2
c = 3
print(a,b,c)

1 2 3

In [61]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [62]:
a=b=c= 5
print(a,b,c)

5 5 5

## Comments

In [63]:
# this is a comment
# second line
a = 4
b = 6 # like this
# second comment

'''
multi
'''

print(a+b)

10

## Keywords & Identifiers

In [64]:
# Keywords
# keyword
import keyword
print(len(keyword.kwlist))

35

In [65]:
# Identifiers
# You can't start with a digit
name1 = 'Nitish'
print(name1)
# You can use special chars -> _
_ = 'ntiish'
print(_)
# identiers can not be keyword

Nitish
ntiish

## Input

In [66]:
# Static Vs Dynamic
input('Enter Email')

Enter EmailX@G.COM

'X@G.COM'

In [67]:
# take input from users and store them in a variable
fnum = int(input('enter first number'))
snum = int(input('enter second number'))
#print(type(fnum),type(snum))
# add the 2 variables
result = fnum + snum
# print the result
print(result)
print(type(fnum))

enter first number1
enter second number1
2
<class 'int'>

## Type Conversion

In [68]:
# Implicit Vs Explicit
print(5+5.6)
print(type(5),type(5.6))

# print(4 + '4')
# TypeError: unsupported operand type(s) for +: 'int' and 'str'

10.6
<class 'int'> <class 'float'>

In [69]:
# Explicit
# str -> int
#int(4+5j)

# int to str
str(5)

# float
float(4)

4.0

## Literals

In [70]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

#Complex Literal
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [71]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

In [72]:
a = True + 4
b = False + 10

print("a:", a)
print("b:", b)

a: 5
b: 10

In [73]:
k = None
a = 5
b = 6
print('Program exe')

Program exe