# Operators | if-else | Loops

## Operators

1. Arithmetic Operators
2. Relational Operators
3. Logical Operators
4. Bitwise Operators
5. Assignment Operators
6. Membership Operators

In [1]:
# Arithmetric Operators
print(5+6)
print(5-6)
print(5*6)
print(5/2)
print(5//2)
print(5%2)
print(5**2)

11
-1
30
2.5
2
1
25

In [2]:
# Relational Operators
print(4>5)
print(4<5)
print(4>=4)
print(4<=4)
print(4==4)
print(4!=4)

False
True
True
True
True
False

In [3]:
# Logical Operators
print(1 and 0)
print(1 or 0)
print(not 1)

0
1
False

In [4]:
# Bitwise Operators

# bitwise and
print(2 & 3)
# bitwise or
print(2 | 3)
# bitwise xor
print(2 ^ 3)
print(~3)
print(4 >> 2)
print(5 << 2)

2
3
1
-4
1
20

In [5]:
# Assignment Operators

# =
# a = 2

a = 2

# a = a % 2
a %= 2

# a++ ++a

print(a)

0

In [6]:
# Membership Operators

# in/not in

print('D' not in 'Delhi')

print(1 in [2,3,4,5,6])

False
False

In [7]:
# Program - Find the sum of a 3 digit number entered by the user

number = int(input('Enter a 3 digit number'))

# 345%10 -> 5
a = number%10
number = number//10

# 34%10 -> 4
b = number % 10
number = number//10

# 3 % 10 -> 3
c = number % 10

print(a + b + c)

Enter a 3 digit number345
12

## if-else

In [8]:
# login program and indentation
# email -> nitish.campusx@gmail.com
# password -> 1234

email = "nitish.campusx@gmail.com"
password = 12345

if email == 'nitish.campusx@gmail.com' and password == '1234':
  print('Welcome')
elif email == 'nitish.campusx@gmail.com' and password != '1234':
  # tell the user
  print('Incorrect password')
  password = input('enter password again')
  if password == '1234':
    print('Welcome,finally!')
  else:
    print('beta tumse na ho paayega!')
else:
  print('Not correct')

Incorrect password
enter password again1213
beta tumse na ho paayega!

In [9]:
# if-else examples
# 1. Menu Driven Program

In [10]:
# menu driven calculator
menu = input("""
Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
""")

if menu == '1':
  print('pin change')
elif menu == '2':
  print('balance')
else:
  print('exit')

Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
2
balance

## Modules

- math
- keywords
- random
- datetime

In [11]:
# math
import math

math.sqrt(196)

14.0

In [12]:
# keyword
import keyword
for kw in keyword.kwlist:
  print(kw) # 35

False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

In [13]:
# random
import random
print(random.randint(1,100))

21

In [14]:
# datetime
import datetime
print(datetime.datetime.now())

2023-08-19 15:36:29.867548

In [15]:
# help('modules')

## Loops

- While Loop
- For Loop

In [16]:
# While loop example -> program to print the table
# Program -> Sum of all digits of a given number
# Program -> keep accepting numbers from users till he/she enters a 0 and then find the avg

In [17]:
number = int(input('enter the number'))

i = 1

while i<11:
  print(number,'*',i,'=',number * i)
  i += 1

enter the number3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [18]:
# while loop with else

x = 1

while x < 3:
  print(x)
  x += 1
else:
  print('limit crossed')

1
2
limit crossed

In [19]:
# Guessing game

# generate a random integer between 1 and 100
import random
jackpot = random.randint(1,100)

guess = int(input('guess karo'))
counter = 1
while guess != jackpot:
  if guess < jackpot:
    print('galat!guess higher')
  else:
    print('galat!guess lower')

  guess = int(input('guess karo'))
  counter += 1
else:
  print('correct guess')
  print('attempts',counter)

guess karo50
galat!guess higher
guess karo60
galat!guess higher
guess karo70
galat!guess higher
guess karo80
galat!guess higher
guess karo90
galat!guess lower
guess karo85
galat!guess higher
guess karo88
correct guess
attempts 7

In [20]:
# For loop demo
for i in {1,2,3,4,5}:
  print(i)

1
2
3
4
5

 Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [21]:
curr_pop = 10000

for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop /= 1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

Sequence sum

1/1! + 2/2! + 3/3! + ...

In [22]:
n = int(input('enter n'))

result = 0
fact = 1

for i in range(1,n+1):
  fact = fact * i
  result = result + i/fact

print(result)

enter n3
2.5

## Nested Loop

In [23]:
# Examples -> unique pairs

for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

Pattern 1


* <br>
** <br>
***<br>

In [24]:
rows = 3

for i in range(1,rows+1):
  for j in range(1,i+1):
    print('*',end='')
  print()

*
**
***

Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

In [25]:
rows = 4

for i in range(1,rows+1):
  for j in range(1,i+1):
    print(j,end='')
  for k in range(i-1,0,-1):
    print(k,end='')

  print()

1
121
12321
1234321

## Loop Control Statement

- Break
- Continue
- Pass

In [26]:
for i in range(1,10):
  if i == 5:
    break
  print(i)

1
2
3
4

In [27]:
lower = 1
upper = 100

for i in range(lower,upper+1):
  for j in range(2,i):
    if i%j == 0:
      break
  else:
    print(i)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [28]:
for i in range(1,10):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9

In [29]:
for i in range(1,10):
  pass